html {
	margin:			20px;
	background:		#ecf0f1;
	font:			16px "Segoe UI", Verdana, Arial, Helvetica, sans-serif;
	color:			#2c3e50;
}

button,
input {
	font-size:		16px;
	padding:		2px 4px;
	margin:			2px;
}

label {
	display:		inline-block;
	width:			10em;
	border-bottom:	#bdc3c7 thin dotted;
}

label:after {
	content: ':'
}

.error {
	background:		#e74c3c;
	color:			white;
}

.success {
	background:		#2ecc71;
	color:			white;	
}